### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
build/

### Gradle ###
.gradle/


### Kotlin ###
*.class
*.kt~
*.kts~
*.log

### Spring Boot ###
*.war
*.jar
*.ear

### Logs ###
logs/
*.log
*.out
*.err
hs_err_pid*

### OS Files ###
.DS_Store
Thumbs.db

### Environment files ###
.env
.env.*

src/main/resources/*.properties
src/main/resources/*.yml


!gradle/wrapper/gradle-wrapper.jar